<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<script type="text/javascript">
    function successHandler() {
        $.ajax({
            type: "GET",
            url: "/list",
            success: function (data) {
                let content = '    <tr>\n' +
                    '        <td>Name</td>\n' +
                    '        <td>Email</td>\n' +
                    '        <td>Address</td>\n' +
                    '        <td>Edit</td>\n' +
                    '        <td>Delete</td>\n' +
                    '    </tr>';
                for (let i = 0; i < data.length; i++) {
                    content += getCustomer(data[i]);
                }
                document.getElementById('customerList').innerHTML = content;
            }
        })
    }

    function getCustomer(customer) {
        return `<tr><td >${customer.name}</td>
                        <td >${customer.email}</td>
                        <td >${customer.address.name}</td>` +
            `<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editmodal" th:value="${customer.id}" onclick="showEdit(this)">
                Edit
            </button></td>` +
            `<td><button type="submit" value="${customer.id}" onclick="deleteCustomer(this)">Delete</button></td></tr>`
    }

    function add() {
        document.getElementById("add-customer").style.display = "block";
        document.getElementById("buttonAdd").style.display = "none";
    }



    function addnewcustomer() {
        let name = $('#name').val();
        let email = $('#email').val();
        let address = $('#address').val();
        let newcustomer = {
            name: name,
            email: email,
            address: {id: address}
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            data: JSON.stringify(newcustomer),
            url: "/create",
            success: successHandler
        })
        event.preventDefault();
    }

    function showEdit(a) {
        let id = a.getAttribute("value");
        $('#editCustomer').show()
        $.ajax({
            type: "GET",
            url: "/customer/" + id,
            success: function (customer) {
                $('#idEdit').val(customer.id);
                $('#nameEdit').val(customer.name);
                $('#emailEdit').val(customer.email);
                $('#addressEdit').val(customer.address);
            }
        })
        event.preventDefault();
    }


    function updateCustomer() {
        let id = $('#idEdit').val();
        let name = $('#nameEdit').val();
        let email = $('#emailEdit').val();
        let address = $('#addressEdit').val();
        let customer = {
            id: id,
            name: name,
            email: email,
            address: {id: address}
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "PUT",
            url: "/edit",
            data: JSON.stringify(customer),
            success: successHandler
        })
        event.preventDefault();
    }


    function deleteCustomer(a) {
        let id = a.getAttribute("value");
        $.ajax({
            type: "DELETE",
            url: "/delete/" + id,
            success: successHandler
        })
    }

</script>
<body>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Create Customer
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" id="name" placeholder="name"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" id="email" placeholder="email"></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>
                            <select id="address">
                                <option th:each="a: ${addressList}" th:value="${a.id}" th:text="${a.name}"></option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="addnewcustomer()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="editmodalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editmodalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Edit Customer</h2>
                <table>
                    <input name="idEdit" id="idEdit" hidden>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" id="nameEdit" placeholder="name"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" id="emailEdit" placeholder="email"></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><select id="addressEdit">
                            <option th:each="a: ${addressList}" th:value="${a.id}" th:text="${a.name}" selected=""></option>
                        </select></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateCustomer()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<h1>Customer List</h1>

<table border="1" id="customerList">
    <tr>
        <th>name</th>
        <th>email</th>
        <th>address</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="c : ${customers}">
        <td th:text="${c.name}"></td>
        <td th:text="${c.email}"></td>
        <td th:if="${c.address}" th:text="${c.address.name}"></td>
        <td th:unless="${c.address}"></td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editmodal" th:value="${c.id}" onclick="showEdit(this)">
                Edit
            </button>
        </td>
        <td>
            <button type="submit" th:value="${c.id}" onclick="deleteCustomer(this)">Delete</button>
        </td>
    </tr>
</table>
<!-- jQuery library -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- Initialize Bootstrap functionality -->
</body>
</html>